<div class="sidebar">
  <ul>
  {% assign collection = site.recipes | group_by: "category" %}
  {% for group in collection %}
    <li data-category="{{group.name}}"><a href="/recipes/{{group.name}}">{{group.name}}</a></li>
  {%endfor%}
  </ul>
  <ul>

  <li><a href="/">By Category</a>
  <li><a href="/chef.html">By Chef</a>
  </ul>
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">

      <section class="meta">
      <a href="{{ site.github.repo }}" target="_blank"><i class="fa fa-github"></i> v{{ site.version }}</a>, <a href="mailto:hello@goinvo.com">hello@goinvo.com</a>
    </section>
    </nav>

  </div>
</div>
